/* body{
    /* background-image: url("/images/bg.jpg") */
} */
.navbar img{
    width: 70%;
    margin-left: 13%;
}
.jumbotron p{
    font-size: 1.2em;
    text-align: center;
}
.mid-title p{
    text-align: center;
    font-size: 1.4em;
}
.girl, .man{
    display: none;
}
.girl img, .man img{
    width: 100%;
}
#danger-notif, #gender-notif, #year-notif, #month-notif, #day-notif{
    display: none;
}
.offset{
    margin-left: 3%;
}
@media(min-width: 600px){
    .navbar img{
        width: 40%;
        margin-left: 27%;
    }
}
@media(min-width: 900px){
    .navbar img{
        width: 30%;
        height: 50%;
        margin-left: 35%;
    }
}